.top-bar {
  display: flex;
  justify-content: flex-end;
  padding-top: 41px;
  margin-right: 105px;
  padding-bottom: 38px;

  > div {
    font-size: 20px;
    font-weight: 600;
    margin-right: 42px;
    color: #fff;
    &:last-child {
      margin-right: 0;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
