.testiCard {
    background-color: var(--whiteColor);
    position: relative;
    padding: 50px 40px;
    border-radius: 5px;
}
.testiInfo {
    min-height: 132px;
    margin: 30px 0;
}
.testiInfo p {
    font-size: 18px;
    line-height: 22px;
    opacity: 0.7;
    margin: 0;
}
.testiTtl {
    min-height: 51px;
}
.testiTtl h4 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    margin: 0 0 5px 0;
}
.testiTtl p {
    opacity: 0.7;
    margin: 0;
}

@media (max-width:1699px) {
    .testiCard {
        padding: 40px 32px;
    }
    .testiIcon svg {
        width: 60px;
    }
    .testiInfo {
        min-height: 175px;
        margin: 24px 0;
    }
}

@media (max-width:1399px) {
    .testiCard {
        padding: 30px;
    }
    .testiIcon svg {
        width: 50px;
    }
    .testiInfo {
        min-height: 220px;
        margin: 20px 0;
    }
}

@media (max-width:1199px) {
    .testiCard {
        padding: 24px;
    }
    .testiInfo {
        min-height: 180px;
    }
}

@media (max-width:991px) {
    .testiCard {
        padding: 20px;
    }
}

@media (max-width:767px) {
    .testiInfo {
        min-height: auto;
    }
}