.market {
  $root: &;
  display: flex;
  padding: 0 176px;

  &-avatar {
    margin-top: 36px;
    margin-bottom: 36px;
    margin-right: 196px;
  }

  &-content {
    margin: 100px 0;
    #{$root}-title {
      font-size: 40px;
      font-weight: 700;
      letter-spacing: 0.1px;
      width: 526px;
      line-height: 36px;
      margin-bottom: 43px;
    }

    #{$root}-description {
      width: 608px;
      > p {
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.1px;
        margin-bottom: 40px;
        &:last-child {
          margin-bottom: 60px;
        }
      }
    }

    .market-join-button {
      display: inline-block;
      color: #fff;
      background: #3671e6;
      border-radius: 20px;
      padding: 11px 21px;
      font-size: 24px;
      font-weight: 700;
      line-height: 34px;
    }
  }
}
