.mainHeading {
    margin-bottom: 50px;
}
.mainHeading h2 {
	font-size: 72px;
    color: var(--secondaryColor);
    line-height: 88px;
    font-weight: 700;
    margin: 0 0 10px 0;
}
.mainHeading h2 span {
    color: var(--primaryColor);
}
.mainHeading p {
    margin: 0;
    opacity: 0.7;
    max-width: 570px;
}
.mainHeading p span {
    color: var(--primaryColor);
}
.mainHeading ul {
    margin-top: 35px;
    text-align: left;
    max-width: 270px;
    margin-left: auto;
    margin-right: auto;
}
.mainHeading ul li {
    font-size: 14px;
    line-height: 24px;
    color: #1A1A1A;
    font-weight: 500;
    margin-bottom: 8px;
    position: relative;
}
.mainHeading ul li:before {
    content: '';
    background-image: url('./../../public/assets/check.svg');
    width: 25px;
    height: 25px;
    position: absolute;
    left: -32px;
}

@media (max-width:1699px) {
    .mainHeading h2 {
        font-size: 56px;
        line-height: 64px;
    }
}

@media (max-width:1399px) {
    .mainHeading h2 {
        font-size: 46px;
        line-height: 50px;
    }
}

@media (max-width:1199px) {
    .mainHeading h2 {
        font-size: 40px;
        line-height: 46px;
    }
}

@media (max-width:991px) {
    .mainHeading {
        margin-bottom: 40px;
    }
    .mainHeading h2 {
        font-size: 32px;
        line-height: 44px;
    }
}

@media (max-width:767px) {
    .mainHeading p {
        max-width: 100%;
        line-height: 24px;
    }
}