@font-face {
  font-family: Inter;
  src: url(../public/font/Inter-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Inter;
  src: url(../public/font/Inter-Bold.ttf);
  font-weight: 600;
}

body {
  margin: 0;
  font-family: "Inter";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
