@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --whiteColor: #FFFFFF;
  --greyColor: #EDEFF1;
  --primaryColor: #3671E5;
  --secondaryColor: #2D3643;
  --disableColor: #C1C7D2;
  --darkBlueColor: #051D4D;
  --textColor: #2D3643;
  --borderColor: #EDEDED;
  --sectionPadding: 100px 0;
}
html, body {
  padding: 0;
  margin: 0;
}
body {
  font-size: 18px;
  line-height: 22px;
  color: var(--textColor);
  font-family: 'Inter', sans-serif;
  padding-top: 101px;
}
h1, h2, h3, h4, h5, h6 {
  color: var(--secondaryColor);
}
a {
  color: var(--primaryColor);
  text-decoration: none;
}
a:hover {
  color: var(--primaryColor);
}
.sectionPadding {
  padding: var(--sectionPadding);
}
.colorBlack a {
  color: var(--secondaryColor);
}
.colorBlack a:hover {
  color: var(--primaryColor);
}
.capitalize {
  text-transform: capitalize;
}
.bgGrey {
  background-color: var(--greyColor) !important;
}
.bgWhite {
  background-image: linear-gradient(180deg, var(--whiteColor) 0%, var(--whiteColor) 100%);
}

.btnRadius a {
  border-radius: 5px !important;
}
.widthAuto a {
  min-width: 178px !important;
}
.btnIcon a {
  padding-right: 32px !important;
}
.btnIcon a::after {
  position: absolute;
  content: "";
  background-image: url('/assets/buttonIcon.svg');
  width: 6px;
  height: 10px;
  margin-left: 14px;
  margin-top: 16px;
}
.btnIcon:hover a::after {
  background-image: url('/assets/buttonPrimaryIcon.svg');
}
.btnSmall a {
  font-size: 12.3065px !important;
  line-height: 32px !important;
  border: 2px solid var(--primaryColor) !important;
}
.btnFull {
  display: block !important;
}
.btnFull a {
  min-width: 100% !important;
}
.mobile {
  display: none;
}
.mobile.force {
  display: none!important;
}
.learnmore a {
  width: 100%!important;
  padding: 5px 55px!important;
  margin-top: -22px;
  max-width: 380px;
  font-weight: 700!important;
  font-size: 16px!important;
}

/***Mobile Menu Css Start***/
.offcanvasBtn {
  text-align: right;
}
button.btn-menuBar {
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 30px;
  height: 25px;
  transition: all 0.4s ease 0s;
  background: transparent;
  border: 0;
}
button.btn-menuBar:focus {
  box-shadow: none;
}
.btn-menuBar span {
  background: var(--secondaryColor);
  width: 25px;
  height: 3px;
  border-radius: 3px;
  display: block;
  transition: all 0.4s ease 0s;
}
.btn-menuBar span.bar1 {
  margin-left: 5px;
  background: var(--primaryColor);
}
.btn-menuBar span.bar2 {
  width: 39px;
  margin: 7px 0;
}
.btn-menuBar span.bar3 {
  margin-left: 15px;
}
/*
.btn-menuBar:hover span.bar1 {
  margin-left: 14px;
}
.btn-menuBar:hover span.bar3 {
  margin-left: 5px;
}
*/
.offcanvas-backdrop {
  background-color: var(--secondaryColor);
}
.offcanvas-backdrop.show {
  opacity: .85;
}
.offcanvasOuter.offcanvas-start {
  width: 320px;
  border-right: 0;
}
.offcanvasHeader.offcanvas-header {
  padding: 11px 13px; 
  display: block;
  text-align: center;
  z-index: 9;
}
.offcanvasHeader.offcanvas-header img {
  max-width: 140px;
}
.offcanvasLogo {
  text-align: left;
}
.offcanvas.offcanvas-top {
  height: 410px;
  background-color: #051d4d;
}
.offcanvasHeader .btn-close {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='16' viewBox='0 0 15 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.72029 1.04121C1.53169 0.859052 1.27908 0.758257 1.01689 0.760536C0.75469 0.762814 0.503878 0.867983 0.31847 1.05339C0.133061 1.2388 0.0278923 1.48961 0.0256139 1.75181C0.0233355 2.01401 0.12413 2.26661 0.306288 2.45521L6.08129 8.23021L0.305288 14.0052C0.209778 14.0975 0.133595 14.2078 0.0811864 14.3298C0.0287774 14.4518 0.00119157 14.583 3.77571e-05 14.7158C-0.00111606 14.8486 0.0241854 14.9803 0.0744663 15.1032C0.124747 15.2261 0.199 15.3377 0.292893 15.4316C0.386786 15.5255 0.498438 15.5998 0.621334 15.65C0.744231 15.7003 0.87591 15.7256 1.00869 15.7245C1.14147 15.7233 1.27269 15.6957 1.39469 15.6433C1.5167 15.5909 1.62704 15.5147 1.71929 15.4192L7.49529 9.64421L13.2703 15.4192C13.4589 15.6014 13.7115 15.7022 13.9737 15.6999C14.2359 15.6976 14.4867 15.5924 14.6721 15.407C14.8575 15.2216 14.9627 14.9708 14.965 14.7086C14.9672 14.4464 14.8664 14.1938 14.6843 14.0052L8.90929 8.23021L14.6843 2.45521C14.8664 2.26661 14.9672 2.01401 14.965 1.75181C14.9627 1.48961 14.8575 1.2388 14.6721 1.05339C14.4867 0.867983 14.2359 0.762814 13.9737 0.760536C13.7115 0.758257 13.4589 0.859052 13.2703 1.04121L7.49529 6.81621L1.72029 1.04021V1.04121Z' fill='white'/%3e%3c/svg%3e");
  opacity: 1;
  width: 30px;
  line-height: 30px;
  height: 30px;
  padding: 0;
  display: inline-block;
  border-radius: 40px;
  background-size: 16px;
  position: absolute;
  right: 19px;
  top: 26px;
}
.offcanvasOuter .btn-close:focus {
  box-shadow: none;
}
.offcanvasBody.offcanvas-body {
  padding: 22px 0 0px 0;
}
.offcanvasBody>div {
  margin: 0px 15px;
}
.canvas_btn a {
  max-width: 380px;
  width: 100%;
  margin: 34px 0px 10px;
  height: 56px;
  line-height: 56px!important;
}

/***Header Search Css Start***/
.srchCol {
  position: absolute;
  bottom: -88px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}
.srchCol.visible {
  display: block;
}
.srchCol form {
  position: relative;
}
.srchCol .form-control {
  width: 250px;
  max-width: 100%;
  border: transparent;
  background: var(--whiteColor);
  font-size: 16px;
  position: relative;
  border-radius: 0 0 5px 5px;
  padding: .55rem 1rem;
  height: 50px;
  box-shadow: 0px 4px 30px rgb(59 91 153 / 12%);
}
.srchCol span {
  position: absolute;
  left: 18px;
  top: 11px;
}
.srchCol span button {
  padding: 0;
  font-weight: normal;
}

/***Main Banner Css Start***/
.bannerPattDiv .container,
.bannerPattDiv .container > div > div {
  position: static;
}

/***Main Heading Css Start***/
.white.mainHeading h2 {
  color: var(--whiteColor);
}
.white.mainHeading h2 span,
.white.mainHeading p {
  color: var(--whiteColor);
  opacity: 0.7;
}
.big.mainHeading p {
  font-size: 22px;
  line-height: 29px;
}
.text-center.mainHeading p {
  max-width: 592px;
  margin: 0 auto;
}

/***Investment Cards Css Start***/
.investBlockInner {
  background-image: url('/assets/investBg.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 0 30px 30px;
}

/***Investment Property Css Start***/
.investPrprtyBlock {
  overflow: hidden;
}
.investPrprtyList {
  position: relative;
  height: 726px;
  max-width: 954px;
}
.investPrprtyList .card1 {
  position: absolute;
  top: 0;
  left: 20%;
}
.investPrprtyList .card2 {
  position: absolute;
  left: 60%;
  top: 19%;
}
.investPrprtyList .card2 .right {
  left: inherit;
  right: -54%;
}
.investPrprtyList .card3 {
  position: absolute;
  left: 28%;
  bottom: -25%;
}

/***Investment Markets Css Start***/
.investMarketsBlock {
  background-image: url('/assets/dotsBg.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
.investMarketsCol {
  background-color: var(--darkBlueColor);
  padding: 100px;
  border-radius: 30px;
}

.investMarketsImg img {
  height: 100%;
  width: 100%;
}

/***Thank you page Css Start***/
.thankBack {
  background-image: url('/assets/thankback.jpg');
  background-size: cover;
}

/***Testimonial Css Start***/
.testimonialBlock {
  position: relative;
  background-image: url('/assets/testiBg.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  background-image: url('/assets/arrowNext.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-color: var(--whiteColor);
  width: 28px !important;
  height: 28px !important;
  border-radius: 28px;
}
.testimonialBlock .swiper-pagination {
  display: none;
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  background-image: url('/assets/arrowPrev.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-color: var(--whiteColor);
  width: 28px !important;
  height: 28px !important;
  border-radius: 28px;
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  display: none;
}

.swiper-pagination {
  bottom: 7px;
}
.swiper-pagination-bullet {
  background-color: var(--whiteColor) !important;
  opacity: 1 !important;
  border: 1px solid transparent;
  margin: 0 2px !important;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--primaryColor) !important;
  border-color: var(--whiteColor);
}

/***Offerings Section Start***/
.offering {
  background-color: #3671E5!important;
  padding-top: 55px;
  padding-bottom: 30px!important;
}
.offering img{
  max-width: 100%!important;
  height: auto;
  padding: 0px!important;
}
.offering h2 span {
  color: #fff!important;
}
.offering .white a {
  background-color: #fff;
  color: #3671E5;
  margin-top: -10px;
  margin-bottom: 33px;
}

/***FAQ Css Start***/
.faqBlock {
  background: var(--greyColor);
}
.tabContentsOuter {
  margin: auto;
  display: flex;
  background: var(--primaryColor);
  border-radius: 5px;
  overflow: hidden;
}
.tabContentsOuter .nav.nav-tabs {
  justify-content: space-between;
  border-bottom: 0;
  display: block;
  width: 50%;
  background: var(--whiteColor);
  margin-right: 50px;
}
.tab-content {
  width: 50%;
}
.tabContentsOuter .nav.nav-tabs .nav-item + .nav-item {
  border-top: 1px solid #CBCBCB;
}
.tabContentsOuter .nav.nav-tabs .nav-item button {
  font-size: 20px;
  color: var(--textColor);
  font-weight: 400;
  border-width: 0 0 1px 0;
  border-color: transparent;
  width: 100%;
  text-align: left;
  padding: 38px 30px;
  position: relative;
}
.tabContentsOuter .nav.nav-tabs .nav-item button::before {
  position: absolute;
  background-image: url('/assets/arrowBlue.svg');
  content: "";
  width: 15px;
  height: 26px;
  right: 30px;
}
.tabContentsOuter .nav.nav-tabs .nav-item button.active {
  font-size: 24px;
  font-weight: 700;
  background-color: var(--primaryColor);
  opacity: 1;
  color: var(--whiteColor);
  border-radius: 0;
}
.tabContentsOuter .nav.nav-tabs .nav-item button.active::before {
  background-image: url('/assets/arrowWhite.svg');
}
.tabContentsOuter .nav.nav-tabs .nav-item button i {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.tabContentDiv {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.tabContentInfo {
  padding: 40px 70px 0px 0px;
}
.tabContentInfo h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  margin: 0;
  color: var(--whiteColor);
}
.tabContentInfo p {
  font-size: 20px;
  line-height: 25px;
  margin: 32px 0 0 0;
  color: var(--whiteColor);
}
.tabContentInfo ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.tabContentInfo li {
  font-size: 18px;
  line-height: 32px;
  color: var(--secondaryColor);
}
.tabContentInfo li + li {
  margin-top: 24px;
}
.tabContentInfo i {
  display: inline-block;
  margin-right: 10px;
}

/***FAQ Mobile Css Start***/
.faqMblRow .accordion-item {
  background: transparent;
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 100px !important;
}
.faqMblRow .accordion-item {
  margin-top: 20px;
}
.faqMblRow .accordion-button:not(.collapsed) {
  color: var(--primaryColor)!important;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  box-shadow: inherit;
  padding-top: 29px;
  padding-bottom: 10px;
}
.faqMblRow .accordion-collapse {
  background-color: #3671E5;
  color: #fff;
  font-size: 16px;
  margin-top: -1px;
}
.faqMblRow .accordion-button {
  font-size: 18px;
  color: var(--secondaryColor);
  position: relative;
  margin: 0 auto;
  background: transparent;
  padding: 16px 50px 16px 16px;
  line-height: 24px;
  cursor: pointer;
  border: 1px solid var(--borderColor);
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  position: relative;
}
.faqMblRow .accordion-item:last-child .accordion-button.collapsed {
  border-bottom: 1px solid var(--borderColor);
}
.faqMblRow .accordion-button:not(.collapsed) {
  background-color: #3671E5;
  color: #fff!important;
}
.faqMblRow .accordion-button:focus {
  box-shadow: none;
}
.faqMblRow .accordion-button::before {
  position: absolute;
    content: "";
    right: 20px;
    background-image: url(/assets/arrowBlue.svg);
    background-size: contain;
    width: 18px;
    height: 18px;
    top: 36px;
    transform: rotateZ(90deg);
    z-index: 8;
    background-repeat: no-repeat;
}
.faqMblRow .accordion-button:not(.collapsed)::before {
  background-image: url('/assets/arrowWhite.svg');
  transform: rotateZ(270deg);
  top: 29px;
}
.faqMblRow .accordion-button::after {
  display: none;
}
.faqMblRow .accordion-button:not(.collapsed)::after {
  display: none;
}
.faqMblRow .accordion-body {
  padding: 0px 10px 0;
  line-height: 24px;
  padding-bottom: 37px;
}
.faqMblRow .accordion-body h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  margin: 0 0 12px 0;
}
.faqMblRow .accordion-body p {
  padding-bottom: 14px;
  margin: 0;
  max-width: 92%;
}

/***Newsletter Css Start***/
.newsletterBlock {
  background-image: url('/assets/newsletterDotsBg.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
.newsletterCol {
  background-image: url('/assets/newsletterBg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1395px;
  margin: 0 auto;
  padding: 100px;
  border-radius: 30px;
}
.newsletterCol form {
  margin: 0 auto;
}
.disabled {
  opacity: .6!important;
  background: #ededed;
  pointer-events: none;
}

/***Modal Css Start***/
.modal {
  padding: 0 !important;
  top: 101px;
  height: calc(100% - 101px);
}
.modal-content {
  border: 0;
  border-radius: 5px;
}
.modal-backdrop {
  top: 101px;
  background-color: var(--secondaryColor);
}
.modal-backdrop.show {
  opacity: .4;
}
/***Join Waitlist Modal Css Start***/
.joinWaitlistModalDialog {
  max-width: 434px;
}
.joinWaitlistModal .modal-header {
  padding: 50px 50px 0 50px;
  border: 0;
}
.joinWaitlistModal .modal-title {
  font-size: 40px;
  color: var(--primaryColor);
  line-height: 48px;
  font-weight: 700;
}
.joinWaitlistModal .modal-header .btn-close {
  padding: 0;
  margin: 0;
  background: rgba(237, 239, 241, 0.5) url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.joinWaitlistModal .modal-body {
  padding: 40px 50px 50px;
}


@media (min-width:1700px) {
  .container {
    max-width: 1680px !important;
  }
}

@media (max-width:1699px) {
  :root {
    --sectionPadding: 80px 0;
  }
  body {
    font-size: 16px;
    padding-top: 91px;
  }
  .srchCol {
    bottom: -83px;
  }
  .big.mainHeading p {
    font-size: 20px;
  }
  .investMarketsCol {
    padding: 80px;
  }
  .investPrprtyList .card2 {
    left: 68%;
  }
  .investPrprtyList .card2 .right {
    right: -38%;
  }
  .tabContentsOuter .nav.nav-tabs .nav-item button {
    font-size: 18px;
    padding: 38px 30px;
  }
  .tabContentsOuter .nav.nav-tabs .nav-item button.active {
    font-size: 22px;
  }
  .tabContentInfo {
    padding: 40px 60px 0px 0px;
  }
  .tabContentInfo p {
    font-size: 18px;
  }
  .newsletterCol {
    padding: 80px;
  }
  .modal {
    top: 91px;
    height: calc(100% - 91px);
  }
  .modal-backdrop {
    top: 91px;
  }
}

@media (max-width:1399px) {
  :root {
    --sectionPadding: 70px 0;
  }
  body {
    padding-top: 85px;
  }
  .srchCol {
    bottom: -80px;
  }
  .big.mainHeading p {
    font-size: 18px;
    line-height: 24px;
  }
  .investMarketsCol {
    padding: 70px;
    border-radius: 24px;
  }
  .investPrprtyList {
    height: 650px;
  }
  .investPrprtyList .card2 {
    left: 64%;
  }
  .investPrprtyList .card2 .right {
    right: -8%;
  }
  .investPrprtyList .card3 {
    left: 22%;
  }
  .tabContentsOuter .nav.nav-tabs .nav-item button.active {
    font-size: 20px;
  }
  .tabContentInfo {
    padding: 30px 50px 0px 0px;
  }
  .tabContentInfo p {
    font-size: 16px;
    margin: 24px 0 0 0;
  }
  .newsletterCol {
    padding: 70px;
    border-radius: 24px;
  }
  .modal {
    top: 85px;
    height: calc(100% - 85px);
  }
  .modal-backdrop {
    top: 85px;
  }
}

@media (max-width:1199px) {
  :root {
    --sectionPadding: 60px 0;
  }
  .big.mainHeading p {
    font-size: 16px;
    line-height: 22px;
  }
  .investBlockInner {
    border-radius: 0 0 24px 24px;
  }
  .investMarketsCol {
    padding: 60px;
  }
  .newsletterCol {
    padding: 60px;
  }
}

@media (max-width:991px) {
  body {
    padding-top: 79px;
  }
  .srchCol {
    bottom: -77px;
  }
  .modal {
    top: 79px;
    height: calc(100% - 79px);
  }
  .modal-backdrop {
    top: 79px;
  }
  .mobile {
    display: unset;
  }
  .desktop {
    display: none;
  }
  .mobile.force {
    display: unset!important;
  }
  .desktop.force {
    display: none!important;
  }
  .investBlockInner {
    padding-top: 69px;
    padding-bottom: 108px;
  }
  .investBlockInner {
    background-image: url('/assets/1930.svg');
  }
  .investPrprtyBlock {
    padding-top: 60px;
    background-image: url('/assets/dot.svg');
  }
  .investBlockInner p {
    line-height: 24px;
  }
  .testimonialBlock {
    background-image: url(/assets/slider-back.jpg);
    padding-top: 79px;
  }
  .testimonialBlock:before {
    background: linear-gradient(26.33deg, rgba(124, 162, 238, 0.7) 8.06%, rgba(124, 162, 238, 0) 129.85%);
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    position: absolute;
    top: 0px;
  }
  .testimonialBlock .swiper-slide {
    height: auto !important;
  }
  .testimonialBlock .swiper-slide>div {
    height: 100%;
    min-height: 475px;
  }
  .testimonialBlock>.container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .faqBlock {
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url('/assets/faq-m-dot.svg');
    background-color: #FCFCFD;
  }
  .newsletterBlock, .newsletterBlock>.container {
    padding:0px;
  }
  .newsletterCol {
    padding: 51px 15px 98px 15px!important;
    border-radius: 0px!important;
    background-image: url('/assets/news-background.svg');
  }
}

@media (max-width:767px) {
  :root {
    --sectionPadding: 50px 0;
  }
  body {
    padding-top: 71px;
  }
  .btn-menuBar span.bar1, .btn-menuBar span.bar2 {
    margin-left: 0px;
    width: 30px;
  }
  .btn-menuBar span.bar3 {
    width: 15px;
  }
  .btn-menuBar span.bar2 {
    margin: 5px 0;
  }
  .btn-menuBar span {
    background: var(--primaryColor);
  }
  .srchCol {
    bottom: -70px;
    left: inherit;
    transform: inherit;
    right: 0;
  }
  .big.mainHeading p {
    opacity: 1;
  }
  .actNav .navBackDrop {
    opacity: 0.75;
    visibility: visible;
    pointer-events: initial;
  }
  .navMenuActiveOutr {
    overflow: scroll;
  }
  .navMenuActiveOutr h4 {
    font-size: 14px;
    text-transform: uppercase;
  }
  .actNav .navMenuActiveOutr {
    transform: translateY(0);
    margin-top: 0;
    padding: 24px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999999;
  }
  .investBlockInner {
    border-radius: 0;
  }
  .investPrprtyList {
    height: 605px;
    /* transform: scale(0.8); */
  }
  .investPrprtyList .card1 {
    top: -8px;
    left: 0;
  }
  .investPrprtyList .card2 {
    left: 0;
    top: 40%;
  }
  .investPrprtyList .card3 {
    left: 40%;
  }
  .investMarketsCol {
    padding: 57px 15px;
    border-radius: 00px;
  }
  .investMarketsCol a {
    width: 100%;
    margin-top: 32px;
    line-height: 49px!important;
  }
  .faqMblRow .accordion-item {
    margin-top: 0px;
  }
  .map_mobile {
    padding: 0px;
    width: 100%;
    margin-top: 8px;
  }
  .investMarketsCol h2 {
    max-width: 300px;
    margin-bottom: 13px!important;
  }
  .investMarketsCol h2 span {
    color: #7CA2EE!important;
  }
  .newsletterCol {
    padding: 32px;
    border-radius: 20px;
  }
  .joinWaitlistModal .modal-header {
    padding: 30px 30px 0 30px;
  }
  .joinWaitlistModal .modal-title {
    font-size: 32px;
    line-height: 44px;
  }
  .joinWaitlistModal .modal-header .btn-close {
    width: 36px;
    height: 36px;
  }
  .joinWaitlistModal .modal-body {
    padding: 20px 30px 30px;
  }
  .modal {
    top: 71px;
    height: calc(100% - 71px);
  }
  .modal-backdrop {
    top: 71px;
  }
  .card2 .swiper-button-next,
  .card2 .swiper-rtl .swiper-button-prev,
  .card1 .swiper-button-prev,
  .card1 .swiper-rtl .swiper-button-next {
    width: 12.5px !important;
    height: 12.5px !important;
    opacity: 1!important;
    background-size: 4px!important;
    top: 69%;
    right: 14px;
  }
  .card3 .swiper-button-next,
  .card3 .swiper-rtl .swiper-button-prev {
    top: 53%;
    right: 20px;
    opacity: 1!important;
  }
  .investMarketsBlock {
    padding-top: 0px;
    padding-bottom: 0px!important;
  }
  .investMarketsBlock .container {
    padding: 0px;
  }
  .testimonialBlock .swiper-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .testimonialBlock .swiper {
    padding-bottom: 56px;
  }
  .testimonialBlock .swiper-pagination-bullet {
    width: 11px;
    height: 11px;
    background-color: rgba(255, 255, 255, 0.5)!important;
  }
  .testimonialBlock .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 16px;
    height: 16px;
    background-color: #fff!important;
  }
  .faqMblRow .accordion-button {
    padding: 28px 50px 34px 10px;
  }
  #newsletter h2 {
    margin-bottom: 13px!important;
  }
  #newsletter .newsletterCol form {
    margin-top: 43px;
    max-width: 500px;
  }
  #newsletter .newsletterCol form input {
    padding: 15px 16px;
    height: 53px;
  }
  #newsletter button {
    width: 100%;
    height: 55px;
    margin-top: 10px!important;
  }
  #newsletter p {
    opacity: 1;
    max-width: 310px;
  }
}

@media (max-width:575px) {
  .joinWaitlistModalDialog {
    max-width: inherit;
  }
}