/* Home Banner */
.banner {
  position: relative;
  background-image: url('../public/assets/bannerBg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  overflow: hidden;
  z-index: 1;
}
.banerSlideOuter {
  position: relative;
  max-width: 709px;
  padding: 140px 0 180px 0;
  z-index: 3;
}
.bnrRghtOuter {
  position: absolute;
  background-image: url('../public/assets/ratioImg.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center left;
  right: 0;
  bottom: 0;
  top: 0;
  width: 944px;
}
.bnrRghtDiv {
  position: relative;
  height: 100%;
}
.bnrRghtTextFrst,
.bnrRghtTextScnd,
.bnrRghtTextThrd {
  position: absolute;
  background-color: var(--whiteColor);
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 40px 30px -20px rgba(12, 38, 90, 0.06);
  z-index: 2;
}
.bnrRghtTextFrst {
  width: 328px;
  left: 13%;
  top: 12%;
}
.bnrRghtTextFrst h3 {
  font-size: 40px;
  line-height: 24px;
  color: var(--primaryColor);
  font-weight: 700;
}
.bnrRghtTextScnd {
  width: 375px;
  top: 60%;
  left: -16%;
}
.bnrRghtTextScnd::before {
  background-image: url('../public/assets/cardArrow.svg');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  content: "";
  width: 47px;
  height: 43px;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
}
.bnrRghtTextThrd {
  border-radius: 0 5px 5px 0 !important;
  width: 280px;
  left: 60.4%;
  bottom: 22%;
  z-index: 2;
}
.bnrRghtTextThrd::before {
  background-color: var(--whiteColor);
  position: absolute;
  content: "";
  width: 6px;
  left: -3px;
  top: 0;
  bottom: 0;
  transform: rotate(-3deg);
}
.bnrRghtTextFrst p,
.bnrRghtTextScnd p,
.bnrRghtTextThrd p {
  font-size: 22px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: 500;
  opacity: 0.7;
  margin: 0;
}
.bnrRghtImg {
  position: absolute;
  bottom: -5px;
  right: 0;
}
.bnrRghtImg::before {
  position: absolute;
  background-image: url('../public/assets/cricleLine.svg');
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  width: 1014px;
  height: 726px;
  top: -196px;
  left: -69px;
}

@media (max-width:1699px) {
  .bnrRghtOuter {
    width: 734px;
  }
  .bnrRghtTextFrst,
  .bnrRghtTextScnd,
  .bnrRghtTextThrd {
    padding: 24px;
  }
  .bnrRghtTextFrst {
    width: 295px;
    top: 15%;
    left: 6%;
  }
  .bnrRghtTextFrst h3 {
    font-size: 36px;
  }
  .bnrRghtTextScnd {
    width: 340px;
    left: -4%;
    top: 67%;
  }
  .bnrRghtTextThrd {
    width: 250px;
    left: 60.6%;
    bottom: 16%;
  }
  .bnrRghtTextFrst p,
  .bnrRghtTextScnd p,
  .bnrRghtTextThrd p {
    font-size: 20px;
  }
  .bnrRghtImg::before {
    width: 784px;
    height: 556px;
    top: -160px;
    left: -48px;
  }
}

@media (max-width:1399px) {
  .bnrRghtOuter {
    width: 674px;
  }
  .bnrRghtTextFrst,
  .bnrRghtTextScnd,
  .bnrRghtTextThrd {
    padding: 20px;
  }
  .bnrRghtTextFrst {
    width: 265px;
    top: 16%;
    left: 8%;
  }
  .bnrRghtTextFrst h3 {
    font-size: 32px;
  }
  .bnrRghtTextScnd {
    width: 300px;
    left: -4%;
    top: 73%;
  }
  .bnrRghtTextThrd {
    width: 240px;
  }
  .bnrRghtTextFrst p,
  .bnrRghtTextScnd p,
  .bnrRghtTextThrd p {
    font-size: 18px;
  }
  .bnrRghtImg::before {
    width: 744px;
    height: 486px;
    top: -137px;
    left: -26px;
  }
}

@media (max-width:1199px) {
  .banerSlideOuter {
    padding: 100px 0;
  }
  .bnrRghtOuter {
    width: 504px;
  }
  .bnrRghtTextFrst,
  .bnrRghtTextScnd,
  .bnrRghtTextThrd {
    padding: 15px;
  }
  .bnrRghtTextFrst {
    width: 225px;
    top: 18%;
    left: 3%;
  }
  .bnrRghtTextFrst h3 {
    font-size: 28px;
  }
  .bnrRghtTextScnd {
    width: 230px;
    left: 5%;
    top: 70%;
  }
  .bnrRghtTextScnd::before {
    width: 37px;
    height: 33px;
    left: -20px;
  }
  .bnrRghtTextThrd {
    width: 180px;
    left: 60.8%;
  }
  .bnrRghtTextFrst p,
  .bnrRghtTextScnd p,
  .bnrRghtTextThrd p {
    font-size: 14px;
    line-height: 22px;
  }
  .bnrRghtImg::before {
    width: 574px;
    height: 380px;
    top: -106px;
    left: -31px;
  }
}

@media (max-width:991px) {
  .banner {
    background-image: url('../public/assets/mainBannerMobile.png');
    background-size: cover;
  }
  .banerSlideOuter {
    padding: 60px 0;
  }
  .bnrRghtOuter {
    display: none;
  }
}

@media (max-width:767px) {
  .banner {
    text-align: center;
  }
  .banner::before {
    background-color: var(--whiteColor);
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    z-index: -1;
  }
}