.wait-list {
  $root: &;
  text-align: center;
  &-title {
    font-weight: 700;
    font-size: 72px;
    line-height: 87px;
    text-align: center;
    margin-bottom: 16px;
    color: #fff;
  }

  &-description {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    margin-bottom: 40px;
  }

  &-form {
    position: relative;
    width: 40%;
    margin: auto;
    display: inline-block;
    margin-bottom: 365px;

    #{$root}-input {
      width: 100%;
      padding: 26px 0;
      text-indent: 42px;
      border-radius: 20px;
      border: none;
      background: #fff;
    }

    .join-button {
      position: absolute;
      right: 4px;
      top: 4px;
      background: #3671e6;
      border-radius: 20px;
      font-size: 24px;
      font-weight: 700;
      line-height: 34px;
      color: white;
      padding: 12px 22px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
